body {
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}


/*header start*/

#header .nav-call {
    color: red;
}

.header-fixed {
    position: fixed;
}

.navbar-mynav {
    background-color: #f9f9f9;
}

.nav-logo {
    position: absolute;
    top: 0;
}

@media (min-width:768px) {
    #nav_menu {
        float: right;
    }
}


/*header end*/


/*page start*/

.page-banner {
    text-align: center;
    background-color: #337ab7;
    margin-bottom: 0px;
    margin-top: 50px;
}

.btn-page-banner {
    color: #FF0000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-page-banner:hover,
.btn-page-banner:focus,
.btn-page-banner:active,
.btn-page-banner.active,
.open .dropdown-toggle.btn-page-banner {
    color: #FF0000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-page-banner:active,
.btn-page-banner.active,
.open .dropdown-toggle.btn-page-banner {
    background-image: none;
}

.btn-page-banner.disabled,
.btn-page-banner[disabled],
fieldset[disabled] .btn-page-banner,
.btn-page-banner.disabled:hover,
.btn-page-banner[disabled]:hover,
fieldset[disabled] .btn-page-banner:hover,
.btn-page-banner.disabled:focus,
.btn-page-banner[disabled]:focus,
fieldset[disabled] .btn-page-banner:focus,
.btn-page-banner.disabled:active,
.btn-page-banner[disabled]:active,
fieldset[disabled] .btn-page-banner:active,
.btn-page-banner.disabled.active,
.btn-page-banner[disabled].active,
fieldset[disabled] .btn-page-banner.active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-page-banner .badge {
    color: #FFFFFF;
    background-color: #FF0000;
}

.page-banner h2 {
    font-weight: 600;
    color: #fff;
    font-size: 50px;
}

.page-banner p {
    padding-top: 10px;
    font-weight: 500;
    color: #f0f0f0;
    font-size: 25px;
}

.section {
    margin-top: 5px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(29, 139, 144, 1) 47.02%, rgba(22, 104, 108, 1) 100%);
}

.section .section-inner {
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.section .section-inner .section-inner-right {
    text-align: right;
    margin-top: 8px;
}

.section .section-inner .text-lg {
    text-align: center;
    font-size: 23px;
    font-weight: 500px;
    color: #fff;
    text-decoration: underline;
    vertical-align: middle;
}

.page-small .page-line {
    float: left;
    height: 50px;
    border-right: 1px solid #fff;
    position: absolute;
    right: 60px;
    top: 0;
}


/*page end*/


/*banner*/

.banner-box {
    margin-top: 20px;
    height: 300px;
    /*background-color: #FF0000;*/
}

#ad_carousel>.carousel-inner>.item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
}

#ad_carousel>.carousel-inner>.item img {
    width: 100%;
}

@media (min-width:768px) {
    .banner-box {
        margin-top: 20px;
        height: 500px;
        /*background-color: #FF0000;*/
    }
    #ad_carousel>.carousel-inner>.item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 500px;
    }
}

#banner {
    background-color: #f9f9f9;
    padding-bottom: 20px;
}


/*banner end*/


/*kepu*/

#kepu {
    margin-top: 40px;
    text-align: center;
    /*background-color: #f0f0f0;*/
}

#kepu .line {
    padding-top: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 20px;
}

#kepu .baiyiimg {
    margin-top: 7px;
}

#kepu .wenziimg {
    margin-top: 55px;
}

#kepu .textdanger {
    color: red;
}


/*kepu end*/


/*footer*/

#footer {
    margin-top: 50px;
    text-align: center;
    height: 50px;
    /*background: #f9f9f9;*/
}

@media(max-width:768px) {
    #footer {
        font-size: 4px;
    }
    #footer img {
        width: 60px;
        height: 30px;
    }
}

#footer .footer-line {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

#footer .footer-text {
    margin-left: 10px;
    text-decoration: none;
    color: #c0c0c0;
    line-height: 50px;
}

#footer .footer-textdiv {
    margin-top: 10px;
}


/*footer*/